.app{
    background-color: #ffffffa2;
    border-radius: 15px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em 1.5em;

}

.app__h2{
    text-align: center;
    margin: 1em;
}