.input__form{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    border: solid rgb(143, 143, 143) 1px;
    
}

.input__input,
.input__btn{
    background-color: #ffffff00;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input__icon{
    cursor: pointer;
    transition: 1.5ms;
}

.input__icon:hover{
    scale: 1.1;
}

.input__icon:active{
    scale: 1;
}